@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  color: var(--foreground);
  background-color: var(--background);
  background-image: url("astrogenesis/images/bg-planet-purple.webp"),
    url("astrogenesis/images/bg-space-ship.png"), url("astrogenesis/images/bg-moon.png"),
    url("astrogenesis/images/bg-planet-astro.webp"), url("astrogenesis/images/bg-planet-about.webp"),
    url("astrogenesis/images/bg-spacehip-about-small.png"),
    url("astrogenesis/images/bg-spacehip-about-medium.png"),
  url("astrogenesis/images/img-planet-hero-section.webp");
  background-position:
    -100% 97%,
    -78% 87%,
    130% 86%,
    200% 50%,
    -30% 31%,
    19% 31%,
    100% 24%,
    130% 3%;
  background-size:
    35% auto,
    /* bg-planet-purple.png */ auto,
    /* bg-space-ship.png */ auto,
    /* bg-moon.png */ 50% auto,
    /* bg-planet-astro.png */ auto,
    /* bg-planet-about.png */ auto,
    /* bg-spacehip-about-small.png */ auto; /* bg-spacehip-about-medium.png */
  background-repeat: no-repeat;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
}

@layer components {
  .bg-card-light-purple-gradient {
    @apply bg-light-purple-gradient;
  }
  .bg-card-soft-purple-gradient {
    @apply bg-soft-purple-gradient rounded-3xl relative;
    backdrop-filter: blur(6px);

    &::after {
      @apply border-soft-purple-after rounded-3xl;
    }
  }
  .bg-card-soft-purple-gradient-item {
    @apply rounded-2xl p-[20px] sm:p-[30px] bg-soft-purple-gradient relative;
    backdrop-filter: blur(6px);

    &::after {
      @apply border-soft-light-after rounded-2xl;
    }
  }
  .bg-dark-purple-gradient {
    background: linear-gradient(
      180deg,
      rgba(96, 49, 139, 0.4) 0%,
      rgba(70, 57, 122, 0.4) 37.85%
    );
  }

  .bg-misty-purple-gradient {
    background: linear-gradient(
      180deg,
      rgba(34, 26, 124, 0.5) 0%,
      rgba(17, 9, 44, 0.5) 100%
    );
    border: 1px solid #fff;
    box-shadow:
      0 0 32px 2.4px #5152da80 inset,
      0 0 32px 2.4px #5152da80;
  }
  .bg-misty-purple-gradient-input {
    background: linear-gradient(
      180deg,
      rgba(34, 26, 124, 0.5) 0%,
      rgba(17, 9, 44, 0.5) 100%
    );
  }

  .bg-blue-gradient-hover {
    color: #fff;
    @apply transition-all duration-200;
    box-shadow:
      0 10px 60px #298eaecc,
      -20px -20px 50px #b675de66,
      0 20px 60px #6276e033,
      0 0 10px #ffffff80 inset;

    background: radial-gradient(
        58.24% 134.23% at 33.81% 109.38%,
        rgba(102, 129, 226, 0.81) 0%,
        rgba(102, 129, 226, 0) 95.37%
      ),
      radial-gradient(
        82.79% 104.69% at 20.17% -22.66%,
        #1d52a0 0%,
        rgba(29, 82, 160, 0.18) 100%
      ),
      radial-gradient(
        105.11% 170.6% at 105.11% -15.62%,
        rgba(19, 229, 213, 0.5) 19.66%,
        rgba(19, 229, 213, 0.06) 71.06%
      ),
      radial-gradient(
        110.23% 82.81% at 50% 17.19%,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255, 255, 255, 0.038) 100%
      ),
      linear-gradient(0deg, #eef9ff, #eef9ff);
  }

  .bg-rose-gradient-hover {
    @apply transition-all duration-200;
    color: #fff;
    background:
    radial-gradient(68.78% 100% at 43.75% 114.06%, #AD12F5 0%, #FDAC62 80.98%),
    radial-gradient(59.09% 164.65% at -3.98% 12.5%, #FF33BA 19.65%, rgba(237, 66, 179, 0) 100%),
    radial-gradient(57.81% 391.02% at 25.57% 34.38%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg, #55128A, #55128A);

  }
}

/* Slick Slider */
@keyframes width-expand {
  0% {
    width: 6px;
  }
  100% {
    width: 14px;
  }
}
.slick-initialized .slick-slider {
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}
.slick-initialized .slick-slider .slick-track,
.slick-slider .slick-list {
  @apply transform-none;
}

.slick-initialized .slick-list {
  @apply overflow-hidden mb-5;
}

.slick-initialized.slick-slider .slick-track {
  @apply flex gap-4 items-stretch;
}

.slick-initialized .slick-slide > div {
  @apply h-full;
}
.slick-initialized .slick-slide img {
  pointer-events: none;
  user-select: none;
}

.slick-dots {
  @apply mx-auto text-center;
}

.slick-dots li {
  font-size: 0;
  line-height: 0;
  @apply inline-block w-[6px] h-[6px] m-[3px] rounded-full bg-red-400;
  transition: width 0.3s ease;
}
.slick-dots li.slick-active {
  @apply w-[14px];
  animation: width-expand 0.3s ease forwards;
}
/* Slick Slider End */

/* Button */
.btn-yellow-gradient {
  background: radial-gradient(
      92.05% 200% at 94.89% -132.81%,
      #ff7a00 67.59%,
      rgba(255, 199, 0, 0.38) 100%
    ),
    radial-gradient(
      71.74% 117.31% at 32.95% 0%,
      rgba(255, 137, 137, 0.92) 21.25%,
      rgba(255, 169, 106, 0.57) 88.62%
    ),
    radial-gradient(
      39.2% 181% at 5.68% 100%,
      rgba(246, 251, 34, 0.51) 0%,
      rgba(255, 158, 69, 0) 100%
    ),
    radial-gradient(
      31.25% 236.33% at 96.59% 31.25%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(0deg, #fff500, #fff500);
}

.btn-submit-gradient {
  background: radial-gradient(100% 80% at 50% 100%, #ad12f5 0%, #fdac62 80%),
    radial-gradient(80% 140% at 0% 10%, #ff33ba 20%, rgba(237, 66, 179, 0) 100%),
    radial-gradient(
      80% 200% at 25% 35%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(0deg, #55128a, #55128a);
}
/* Button End*/

.bg-nav-gradient {
  background: linear-gradient(
    180deg,
    rgba(42, 27, 114, 0.95) 0%,
    rgba(81, 39, 129, 0.95) 37.85%
  );
}
.btn-green-gradient {
  background: radial-gradient(
      35.8% 316.2% at 82.39% 55.47%,
      #41ff48 0%,
      #00bcb1 100%
    ),
    radial-gradient(
      92.56% 151.44% at 33.52% -15.63%,
      #e0e342 0%,
      rgba(35, 173, 140, 0.58) 85.15%
    ),
    radial-gradient(
      66.76% 121.06% at 22.73% 20.31%,
      rgba(226, 241, 45, 0.2) 18.63%,
      rgba(226, 241, 45, 0.186) 100%
    ),
    radial-gradient(
      45.91% 85.94% at 55.4% 14.06%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.032) 100%
    ),
    linear-gradient(0deg, #030303, #030303);

  box-shadow:
    10px 20px 80px 0 #1ee9324d,
    -20px -20px 50px 0 #0e0e0f80,
    -10px -20px 50px 0 #faff0033,
    0 0 10px 0 #ffffff99 inset;
}
